<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BusReportMapper">
    
    <resultMap type="BusReport" id="BusReportResult">
        <result property="id"    column="id"    />
        <result property="description"    column="description"    />
        <result property="images"    column="images"    />
        <result property="latitude"    column="latitude"    />
        <result property="longitude"    column="longitude"    />
        <result property="address"    column="address"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBusReportVo">
        select id, description, images, latitude, longitude, address, status, create_by, create_time, update_by, update_time, remark from bus_report
    </sql>

    <select id="selectBusReportList" parameterType="BusReport" resultMap="BusReportResult">
        <include refid="selectBusReportVo"/>
        <where>  
            <if test="description != null  and description != ''"> and description like concat('%', #{description}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBusReportById" parameterType="Long" resultMap="BusReportResult">
        <include refid="selectBusReportVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusReport" parameterType="BusReport" useGeneratedKeys="true" keyProperty="id">
        insert into bus_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="description != null">description,</if>
            <if test="images != null">images,</if>
            <if test="latitude != null">latitude,</if>
            <if test="longitude != null">longitude,</if>
            <if test="address != null">address,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="description != null">#{description},</if>
            <if test="images != null">#{images},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="address != null">#{address},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBusReport" parameterType="BusReport">
        update bus_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="description != null">description = #{description},</if>
            <if test="images != null">images = #{images},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="address != null">address = #{address},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusReportById" parameterType="Long">
        delete from bus_report where id = #{id}
    </delete>

    <delete id="deleteBusReportByIds" parameterType="String">
        delete from bus_report where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectReportCountByUserName" parameterType="String" resultType="int">
        select count(1) from bus_report where create_by = #{userName}
    </select>
</mapper>
